root = true

[*]
end_of_line = lf
charset = utf-8

[*.{c,ccp,h}]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[Makefile]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.{pro,pri}]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
